<h1>Welcome to DoodleCards!</h1>

<% unless user_signed_in? %>
<p>
  <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-large btn-primary' %>
  <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-large btn-primary' %>
</p>
<% end %>

<% if user_signed_in? %>
<p>
<%= link_to 'Start!', random_path, class: 'btn btn-success btn-large' %>
</p>
<br />
<p>
<%= link_to 'Make a New DoodleCard', new_card_path, class: 'btn btn-primary' %>
</p>
<p>Manage: <%= link_to "Cards", cards_path %> | <%= link_to "Categories", categories_path %></p>
<% end %>
<p>
<%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %> 
</p>