<!-- Forces Bootstrap to show active state on toggle buttons -->
<%= tinymce_assets %>
<script>
$("[data-toggle='buttons'] .btn").each(function(i, el) {
  var $button = $(el);
  var checked = $button.find("input[type='checkbox'], input[type='radio']").prop("checked");
  if (checked) {
    $button.addClass("active");
  } else {
    $button.removeClass("active");
  }
});
</script>
<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :front %><br />
    <%= f.text_field :front %>
  </div>
  <div class="field">
	<span class="col-lg-8 col-md-12">
    	<%= f.text_area :back, :class => "tinymce" %>
		<%= tinymce %>
	</span>
  </div>
  
  <br />
  <div class="form-group col-lg-12">
  <%= f.label :categories, :class => 'control-label' %><br/>
  <div class="btn-group" data-toggle="buttons">
  <% @categories.each do |c| %>
        <% if @card.categories.include?(c) %>
          <label class="btn btn-primary active">
          <%= check_box_tag "card[category_ids][]", c.id, 'checked' %> <%= c.name %>
          </label>
        <% else %>
          <label class="btn btn-primary">
          <%= check_box_tag "card[category_ids][]", c.id, nil %> <%= c.name %>
          </label>
        <% end %>
  <% end %>

  </div>
  </div>
  <br />
  <div class="field col-lg-12">
    <%= f.label :mnemonic %><br />
    <%= f.text_field :mnemonic %>
  </div>

  <div class="col-lg-12">
    <p><%= f.submit 'Update DoodleCard', :class => 'btn btn-large btn-success' %></p>
  </div>
<% end %>
