<h1>All DoodleCards</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Front</th>
      <th>Back</th>
      <th>Mnemonic</th>
      <th>Weight</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= link_to card.front, card %></td>
        <td><%= card.back %></td>
        <td><%= card.mnemonic %></td>
        <td><%= card.weight %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Delete', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New DoodleCard', new_card_path, class: 'btn btn-primary' %>
