<div class="doodlesmall">
<p id="notice"><%= notice %></p>

<h1><%= link_to_function @card.front, "$('.back_of_card').toggle()" %></h1>

<div class="back_of_card" style="display:none;" class="center">
<p>
  <h2><%= @card.back %></h2>
</p>

<% unless @card.mnemonic == '' %>
<p>
  <em>
  <%= @card.mnemonic %></em>
</p>
<% end %>


<%= button_to 'Missed It', {:action=>:increment,:id=>@card.id }, { :class => 'btn btn-large btn-danger btn-block' } %>
<%= button_to 'Got It!', {:action=>:decrement,:id=>@card.id}, { :class => 'btn btn-large btn-success btn-block' } %>
<%= link_to 'Skip', @random, class: 'btn btn-large btn-warning btn-block' %>
<p>
<small><%= link_to 'Edit DoodleCard', edit_card_path(@card) %> | <%= link_to 'Home', root_path %> | <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </small>
</p>
</div>
</div>