<p id="notice"><%= notice %></p>

<%= link_to_function @card.front, "$('.back_of_card').toggle()" %>

<div class="back_of_card" style="display:none;">
<p>
  <%= @card.back %>
</p>

<% unless @card.mnemonic == '' %>
<p>
  <strong>Mnemonic:</strong>
  <%= @card.mnemonic %>
</p>
<% end %>

<p>
  <strong>Category:</strong>
  <%= @card.category.name %>
</p>

<p>
  <strong>Memorized:</strong>
  <%= @card.memorized %>
</p>
</div>

<p>
<%= link_to 'Edit', edit_card_path(@card) %>
<%= link_to("Next", @card.next) if @card.next %><br />
<%= link_to 'Back to Categories', cards_path %>
</p>