<p id="notice"><%= notice %></p>

<h1><%= link_to_function @card.front, "$('.back_of_card').toggle()" %></h1>

<div class="back_of_card" style="display:none;" class="center">
<p>
  <h2><%= @card.back %></h2>
</p>

<% unless @card.mnemonic == '' %>
<p>
  <strong>Mnemonic:</strong>
  <%= @card.mnemonic %>
</p>
<% end %>
<p>
<%= link_to 'Edit', edit_card_path(@card), class: 'btn'  %>
<%= link_to 'Next DoodleCard', @random, class: 'btn btn-success' %><br />
<small><%= link_to 'Back Home', cards_path %></small>
</div>
</p>